@import "_vars";
@import "_fonts";
@import "_libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: @accent-orange;
	color: #fff;
}

html, body {
	height: 100%
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: @default-font;
	overflow-x: hidden;
	color: #fff;
	background: #0085c5;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

//hamburger
.hamburger {
	display: none;
	height: 40px;
	padding: 0;
	align-items: center;

	&-box {
		width: 34px;
	}

	&-inner,
	&-inner::before,
	&-inner::after {
		border-radius: 2px;
		height: 4px;
		width: 34px;
		background-color: #fff;
	}
}

//button
button {
	&:focus {
		outline: none;
	}
}

//top line
.top-line-wrapper {
	background: @accent-blue;
}

.top-line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0;

	a {
		text-decoration: none;
		line-height: 1;
	}

}

.top-menu {
	margin: 0;
	padding: 0;
	font-size: 0;

	li {
		background: none;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
		list-style: none;
		font-size: 13px;
		a {
			display: block;
			border: none;
			color: #fff;
			transition: background .2s ease;
			padding: 14px 7px;
			height: 40px;

			&.sf-with-ul::after {
				border-top-color: #fff;
			}
		}

		ul li {
			background: #fff;
			font-weight: normal;
			text-transform: none;
			border-bottom: 1px solid #d7d7d7;
			display: block;

			&:last-child {
				border: none;
			}

			&:hover {
				background: #bfd8eb;
			}

			a {
				color: #000;
			}
		}

		.svg-inline--fa {
			margin-left: 5px;
		}
	}

	li:hover,
	li.sfHover {
		background: #f75c00;
	}
}

.sfHover {
	ul {
		padding: 0;
		border-radius: 0;
		margin: 0;
		border: 1px solid #d7d7d7;
		border-top: none;
	}
}

.sign-in-link {
	align-items: center;
	min-width: 70px;
	height: 40px;

	.svg-inline--fa {
		margin-right: 10px;
	}

	a {
		display: block;
		color: @text-blue;
		text-decoration: underline;
		height: 100%;
		line-height: 40px;
		display: block;
		position: relative;

		&::before {
			content: '';
			display: block;
			background-image: url('../img/user.png');
			background-repeat: no-repeat;
			background-position: 0 center;
			width: 12px;
			height: 15px;
			position: absolute;
			padding-left: 12px;
			top: 13px;
			left: -15px;
		}

		&:hover {
			&::before {
				background-position: -12px center;
			}
		}
	}

	a:hover {
		color: #fff;
	}
}


//search block
.search-block-wrapper {
	padding: 50px 0 55px;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	padding-bottom: 50px;
	margin: 0;
}

.search-form {
	.form-group-wrapper {
		flex-wrap: wrap;
		display: flex;

		.search-form-group {
			padding: 20px 0 0;
		}
	}

	.search-form-change {
		display: flex;
		align-self: center;
		justify-content: center;
		width: 100%;
		&_btn {
			width: 30px;
			background: url('../img/change-btn.png') no-repeat;
			background-position: 0 center;
			border: none;
			padding: 10px;
			height: 30px;
			cursor: pointer;
			transition: background-image .1s ease;

			&:hover,
			&:active,
			&:focus {
				background-position: -30px center;
			}
		}
	}
}

.search-form-group {
	flex-grow: 1;

	&-flex {
		display: flex;
		align-items: flex-end;
	}

	label {
		display: block;
		margin-bottom: 4px;
	}

	.search-form-input {
		border-radius: 7px;
		padding: 10px 14px;
		width: 100%;
		border-color: @border-color;
		height: 47px;
		font-size: 16px;

		&::placeholder {
			font-size: 16px;
		}
	}

	.help-block {
		margin-top: 3px;
		margin-bottom: 0;
		color: @text-blue-alt;

		.example-city {
			margin-left: 3px;
			position: relative;
			color: @text-blue-alt;
			text-decoration: none;

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				bottom: -1px	;
				left: 0;
				right: 0;
				border-bottom: 1px dashed @text-blue;
			}
		}

		.example-city:hover {
			color: #fff;

			&::after {
				display: none;
			}
		}

	}
}

//datepicker
.search-form-group {
	.search-form-datepicker {
		max-width: 170px;
		width: 100%;
		position: relative;

		&-wrapper {
			position: relative;
			display: inline-block;
			&::before {
				content: '';
				background-image: url('../img/datepicker.png');
				background-position: 0 center;
				background-repeat: no-repeat;
				width: 26px;
				height: 26px;
				display: block;
				float: right;
				z-index: 1;
				position: absolute;
				top: 11px;
				right: 15px;
			}

			&.disabled {
				&::before {
					background-position: -26px center;
				}
			}
		}
	}
}

.search-form-group-roundtrip {
	display: flex;
	align-items: flex-end;

	> div:first-child {
		height: 47px;
		display: flex;
		align-items: center;
	}

	.roundtrip-label {
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-right: 15px;
		padding: 5px 10px;
		border-radius: 7px;
		background: lighten(@dark-blue, 5%);
		position: relative;
		user-select: none;

		.svg-inline--fa {
			position: absolute;
			right: -8px;
			color: lighten(@dark-blue, 5%);
			font-size: 24px;
			top: 6px;
		}

		.roundtrip-checkbox {
			display: none;
		}

		.roundtrip-checkbox-custom {
			position: relative;
			background: #fff;
			width: 18px;
			height: 18px;
			border-radius: 4px;
			box-shadow: 0 1px 3px #333 inset;
			margin-right: 5px;
		}

		.roundtrip-checkbox:checked + .roundtrip-checkbox-custom::before {
			content: "";
			display: block;
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			background: url("../img/checked.png") no-repeat center;
			background-size: 10px 8px;
		}
	}

	.search-form-datepicker[disabled=""] {
		background: lighten(@dark-blue, 5%);
		border-color: darken(@dark-blue, 5%);
		color: darken(@dark-blue, 5%);

		&::placeholder {
			color: @text-blue;
		}
	}
}

//currency select
.jq-selectbox {
	color: #000;
	background: #fff;
	height: 47px;
	width: 86px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;

	.jq-selectbox__select {
		height: 47px;
		padding: 10px 5px 10px 14px;
		border: 1px solid #dee2e6;
		border-radius: 5px;
	}

	.jq-selectbox__select-text {
		display: flex;
		align-items: center;
	}

	.jq-selectbox__trigger {
		width: 18px;
		height: 24px;
		background: #efefef;
		position: absolute;
		right: 10px;
		top: 10px;
		border-radius: 2px;
		box-shadow: 0 1px 0 1px darken(#efefef, 10%);
		display: flex;
		align-items: center;
		justify-content: center;

		.jq-selectbox__trigger-arrow {
			width: 0;
			height: 0;
			border-top: 6px solid darken(#efefef, 50%);
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}

	.jq-selectbox__dropdown {
		border: 1px solid @border-color;
		width: 86px;
		background: #fff;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top: none;

		 ul {
			 padding: 0;
			 margin: 0;
		 }

		 li {
			 padding: 8px 0 8px 14px;
			 border-bottom: 1px solid @border-color;
		 }

		 li:hover {
			 background-color: #bfd8eb;
		 }

		 li:last-child {
			 border-bottom: none;
		 }
	}

}

.jq-selectbox.opened {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	.jq-selectbox__select {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

// search button
.search-btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#fbae4b 1%, #fa8c2c 50%, #f76105 100%);
	border: 1px solid darken(@accent-orange, 20%);
	border-radius: 3px;
	box-shadow: 0 1px 0 #fcc272 inset;
	height: 47px;
	min-width: 180px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background: linear-gradient(lighten(#fbae4b, 10%) 1%, #fa8c2c 50%, #f76105 96%, #fbae4b 100%);
	}

	&:active {
		box-shadow: 0 2px 4px #393939 inset;
		border: none;
	}

	img {
		margin-right: 12px;
	}
}

//mobile menu
.mm-menu {
	background-color: @dark-blue;
	color: #fff;

	.mm-listview .mm-btn_next::after,
	.mm-btn::before {
		border-color: #fff;
	}

	.mm-navbar .mm-navbar__title {
		color: #fff;
	}
}

.mm-listitem::after {
	left: 0;
}


@import "_media2";
